<!-- filepath: /c:/MLProject/DiseaseAndCancerTracker/Frontend/diseaseTrackerApp/templates/PneumoniaTracker.html -->
{% extends "base.html" %}

{% block title %}
    PneumoniaTracker
{% endblock %}

{% block content %}
    <h1>PneumoniaTracker</h1>
    <p>Upload an X-ray image to classify if it shows signs of pneumonia.</p>
    
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <label for="file-input">Choose an image:</label>
        <input type="file" id="file-input" name="file" accept="image/*" required>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    
    <div id="result" class="mt-3">
        <!-- The result of the classification will be displayed here -->
    </div>
{% endblock %}